<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">

    <div [routerLink]="['/']" class="logo-container">
      PLATZ FÜR LOGO
    </div>

    <ul class="menu-items">
      <li [routerLink]="['/dashboard']" ><mat-icon fontIcon="dashboard"></mat-icon>Dashbord</li>

      <li [routerLink]="['/user']"><mat-icon fontIcon="person"></mat-icon>User</li>
    </ul>

  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon class="menu-icon" fontIcon="menu" (click)="drawer.toggle()"></mat-icon>
    
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    
  </div>
  <div class="routerContainer">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

